@import "./../../../../Constants/Styleshets/main";

.modal-workers {

  &__list {
    margin-top: 10px;
  }

  &__item-wrapper {
    transition: all $transition_duration $transition_easing;

    &:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &:nth-child(even) {
      background-color: $color_gray--light;

      &:hover {
        background-color: #c7c7c7;
      }
    }

    &:nth-child(odd) {
      background-color: $color_gray;

      &:hover {
        background-color: #d2d1d1;
      }
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    @include media_interval(0, $media768) {
      flex-wrap: wrap;
      align-items: flex-end;
      padding: 10px 0 0 10px;
    }
  }

  &__name,
  &__position {
    width: 37%;
    box-sizing: border-box;
    padding-right: 10px;

    @include media_interval($media500, $media768) {
      width: 50%;
    }

    @include media_interval(0, $media500) {
      width: 100%;
    }
  }

  &__position {
    @include media_interval(0, $media500) {
      margin-top: 10px;
    }
  }

  &__cabinet {
    width: 8%;

    @include media_interval(0, $media768) {
      padding: 10px 0 10px 0;
      width: 50%;
    }
  }

  &__cabinet-title {
    font-weight: 500;
    @include media_interval($media768, 0) {
      display: none;
    }
  }

  &__edit {
    width: 15px;
    height: 15px;
    cursor: pointer;

    @include media_interval(0, $media768) {
      padding: 10px 0 10px 0;
      width: 25%;
      transition: background-color $transition_duration $transition_easing;
    }

    &:hover {
      .modal-workers__edit-img {
        transform: scale(1.5);
      }
    }
  }

  &__edit-img {
    display: block;
    width: 15px;
    height: 15px;
    background-image: url('../../../../Img/change.svg');
    transition: transform $transition_duration $transition_easing;
    background-size: cover;
    transform: scale(1.2);

    @include media_interval(0, $media768) {
      margin: 0 auto;
    }
  }

  &__del {
    width: 15px;
    height: 15px;
    cursor: pointer;

    @include media_interval(0, $media768) {
      padding: 10px 0 10px 0;
      width: 25%;
      transition: background-color $transition_duration $transition_easing;
    }

    &:hover {
      .modal-workers__del-img {
        transform: rotate(90deg) scale(1.3);
      }
    }
  }

  &__del-img {
    display: block;
    width: 15px;
    height: 15px;
    background-image: url('../../../../Img/close.svg');
    transition: transform $transition_duration $transition_easing;

    @include media_interval(0, $media768) {
      margin: 0 auto;
    }
  }
}

.add-edit-worker {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
  padding: 10px 0;

  &--edit {
    padding: 10px;
  }

  &__input-wrapper {
    box-sizing: border-box;
    width: 50%;
    padding: 0 5px;

    @include media_interval(0, $media500) {
      width: 100%;
    }
  }

  &__input-error {
    margin: 5px 0 0 0;
    @include font_size_small;
    color: $color-red;
  }

  &__common-error {
    margin: 0 0 0 10px;
    width: 100%;
    @include font_size_small;
    color: $color-red;
  }

  &__button-wrapper {
    margin-top: 10px;
    box-sizing: border-box;
    width: 50%;
    padding: 0 5px;

    @include media_interval(0, $media500) {
      width: 100%;
    }
  }

  &__button {
    width: 100%;
  }
}