@import "./../../../../Constants/Styleshets/main";

.dropdown-title {
  box-sizing: border-box;
  width: 100%;

  &__title {
    display: block;
    padding: 5px;
    @include font_default;
    font-weight: 500;
  }

  &__input {
    width: 100%;
  }
}
